html {
  margin: 0;
  padding: 0;
}
#header {
  display: flex;
  justify-content: center;
}
#header img {
  border-radius: 20px;
  margin: 20px 0;
}
body {
  font-family: 'Handlee', cursive;
  font-size: 13pt;
  background-color: #ffffff;
  padding: 10px;
  margin: 0;
}
#titleh1 {
  font-size: 20pt;
  color: #666354;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 20px 20px;
}
#sectitleh1 {
  font-size: 20pt;
  color: #666354;
  text-align: center;
  padding: 18px 0 0px 0;
  margin: 20px 0px 0px 20px;
}
h1 span {
  border: 4px dashed #666354;
  padding: 10px;
}
img {
  margin: 20px 20px;
}
p {
  padding: 0;
  margin: 0;
  font-size: 15pt;
}
#faceicon {
  border-radius: 10px;
  }
  section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  #whatsappdiv {
    display: flex;
    justify-content: center;
  }
  #whatsapplogo {
    height: 50px;
    width: 50px;
    }
  .column {
    float: left;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #row {
    margin: 20px 0;
  }
  #produtosp {
    text-align: center;
  }
#divroll {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
#sectitle {
  text-decoration: none;
}