#spanh1 {
  border: 4px dashed #666354;
  padding: 10px;
}
#whatsapplogo {
  height: 50px;
  width: 50px;
  }
  #sectitleh1 {
    font-size: 20pt;
    color: #666354;
    text-align: center;
    padding: 18px 0 0px 0;
    margin: 20px 0px 0px 20px;
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  #titleh1 {
    font-size: 20pt;
    color: #666354;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 20px 20px;
  }
  #nosubh1 {
    text-decoration: none;
  }
  #products {
    max-height: 100%;
    width: auto;
  }
  #headerimg {
    border-radius: 20px;
  }